footer { text-align: center; }
a { font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: blue; }

.red { color: red; }

.border, .border td, .border th { border: 1px solid black; }

nav#top { text-align: right; }